{% extends 'base.html' %}
{% load static %}
{% block title %}Usunięcie wpisu{% endblock %}
{% block header %}Usunięcie wpisu{% endblock %}
{% block content %}
<h2>Czy na pewno chcesz usunąć wpis <b>{{ expenses.description }}</b> z dnia <b>{{ expenses.date }}</b> na kwotę <b>{{ expenses.amount }}</b>?</h2>
<form method="post">
    {% csrf_token %}
      <input class="w3-button w3-red" type="submit" name="accept" value="Usuń">
      <input class="w3-button w3-blue" type="submit" name="reject" value="Anuluj">
</form>
{% endblock %}
